/* font imports*/

@font-face {
    font-family: polya;
    src: url(POLYA.otf);
}

@font-face {
    font-family: sf-bold;
    src: url(SF-Pro-Display-Heavy.otf);
}

@font-face {
    font-family: sf-semibold;
    src: url(SF-Pro-Display-Semibold.otf);
}

@font-face {
    font-family: sf-medium;
    src: url(SF-Pro-Display-Medium.otf);
}

@font-face {
    font-family: sf;
    src: url(SF-Pro-Text-Regular.otf);
}

@font-face {
    font-family: sf-thin;
    src: url(SF-Pro-Display-Thin.otf);
}



/* Main Colors */

.purple {
	background-color: #7e62bc;
	color: white;
}

.green {
	background-color: rgb(121, 188, 145);
	color: white;
}

.blue {
	background-color: rgb(62, 124, 199);
	color: white;
}

.black-text {
	color: black !important;
	text-decoration: none !important;
}

.white-text {
	color: white !important;
	text-decoration: none !important;
}

.gradient {
	background: rgb(132,94,194);
	background: linear-gradient(38deg, rgba(132,94,194,1) 0%, rgba(0,129,207,1) 50%, rgba(97,191,141,1) 100%);
	color: white;
	width: 120%;
	margin-left: -10%;
	margin-right: -10%;

}

.hero-image {
	background-image: url("../img/UW-Quad.jpg");
	/* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



body {
}

.animation_helper {
    color: transparent;
    text-align: center;
    top: 30%;
    font-size: 20em;
    position: relative;
    font-family: sf-bold;

    animation-name: text3D;
    animation-duration: 1s;
    animation-delay: 0.5s;

    animation-fill-mode:forwards;

   -webkit-text-stroke-width: 5px;
   -webkit-text-stroke-color: white;
}



.title {

	color: transparent;
	text-align: center;
	z-index: 10;
	position: relative;
}

.title-text {
	font-family: sf-bold;
	font-size: 20em;
	margin-top: 60%;
	margin-bottom: 20%;
	margin-left: 0%;
	margin-right: 0%;

	animation-name: text3D;
    animation-duration: 1s;
    animation-delay: 1s;

    animation-fill-mode:forwards;

   -webkit-text-stroke-width: 5px;
   -webkit-text-stroke-color: white;

}


@media (min-width: 576px) {
	.title-text {
		font-size: 6rem;
		margin-top: 20%;
	}
}


@media (min-width: 768px) {
	.title-text {
		font-size: 8rem;
	}
}

@media (min-width: 992px) {
	.title-text {
		font-size: 10rem;
		margin-top: 2%;
		margin-bottom: 5%;
	}
}


@media (min-width: 1200px) { 
	.title-text {
		font-size: 24rem;
		margin-top: 10%;
		margin-bottom: 10%;
	}
}

@media (min-width: 1920px) { 
	.title-text {
		font-size: 40rem;
		margin-top: 0;
		margin-bottom: 5%;
	}
}



.sub-title {
	font-family: sf;
	font-size: 2rem;
	margin-bottom: 3%;
}

@media (min-width: 576px) {
	.sub-title {
		font-size: 1rem;
	}
}


@media (min-width: 768px) {
	.sub-title{
		font-size: 5rem;
	}
}

@media (min-width: 992px) {
	.sub-title {
		font-size: 6rem;
	}
}


@media (min-width: 1200px) { 
	.sub-title {
		font-size: 3rem;
		margin-bottom: 2%;
		margin-bottom: 7%;
	}
}

@media (min-width: 1920px) { 
	.sub-title {
		font-size: 6rem;
		margin-bottom: 7%;
	}
}


.button-container {
	margin-top: 10%;
	margin-bottom: 20%;
}


@media (min-width: 576px) {
	.button-container {
		margin-top: 0;
		margin-bottom: 5%;
	}
}


@media (min-width: 768px) {
	.button-container {
		margin-top: 5%;
		margin-bottom: 5%;
	}
}

@media (min-width: 992px) {
	.button-container {
		margin-top: 0;
		margin-bottom: 7%;
	}
}


@media (min-width: 1200px) { 
	.button-container {
		margin-top: 0;
		margin-bottom: 5%;
	}
}

@media (min-width: 1920px) { 
	.button-container {
		margin-top: 0;
		margin-bottom: 5%;
	}
}

.navBar {
	z-index: 1;
	position: fixed;
	left: 60px;
	width: 80px;
	height: 60%;
	top: 0;
	margin-top: 20%;
	margin-bottom: 20%;
	font-size: 1rem;
	font-family: sf-bold;
	color: black;
}

.navBarElement {
	width: 80px;
	margin-top: 20%;
	display: inline-block;
    position: relative;
    transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

.crossed {
	text-decoration: line-through;
}

/* Text + Section Titles */
.section-title {
	font-family: sf-bold;
	text-align: center;
	font-size: 5rem;
	padding-top: 10%;
}

.vr-web {
	font-family: sf-bold;
	text-align: center;
	font-size: 10rem;
	padding-top: 5%;
	padding-bottom: 5%;
}

.vr-link {
	color: black;
	text-decoration: none;
	animation: vr-animation-out 1s; 
  	animation-fill-mode:forwards;	
}

.vr-link:hover {
	background-image: -webkit-linear-gradient(38deg, rgba(132,94,194,1) 0%, rgba(0,129,207,1) 50%, rgba(97,191,141,1) 100%);
    background-image: linear-gradient(38deg, rgba(132,94,194,1) 0%, rgba(0,129,207,1) 50%, rgba(97,191,141,1) 100%);
  	color:transparent;
 	-webkit-background-clip: text;
  	background-clip: text;

  	animation: vr-animation-in 1s; 
  	animation-fill-mode:forwards;	
}

.web-link {
	color: black;
	text-decoration: none;
	animation: web-animation-out 1s; 
  	animation-fill-mode:forwards;	
}

.web-link:hover {
	background-image: -webkit-linear-gradient(38deg, rgba(132,94,194,1) 0%, rgba(0,129,207,1) 50%, rgba(97,191,141,1) 100%);
    background-image: linear-gradient(38deg, rgba(132,94,194,1) 0%, rgba(0,129,207,1) 50%, rgba(97,191,141,1) 100%);
  	color:transparent;
 	-webkit-background-clip: text;
  	background-clip: text;

  	animation: web-animation-in 1s; 
  	animation-fill-mode:forwards;	
}

.start-link {
	color: black;
	text-decoration: none;
}

.start-link:hover {
	background-image: -webkit-linear-gradient(38deg, rgba(132,94,194,1) 0%, rgba(0,129,207,1) 50%, rgba(97,191,141,1) 100%);
    background-image: linear-gradient(38deg, rgba(132,94,194,1) 0%, rgba(0,129,207,1) 50%, rgba(97,191,141,1) 100%);
  	color:transparent;
 	-webkit-background-clip: text;
  	background-clip: text;

}

.x {
	position: fixed;
	top: 2%;
	left: 1%;
	height: 60px;
	width: 60px;
	z-index: 10;
}

.more-title {
	font-family: sf-bold;
	text-align: center;
	font-size: 5rem;
	padding-top: 5%;
}


.center-text {
	font-family: sf-semibold;
	text-align: center;
	font-size: 1.5rem;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-left: 15%;
	margin-right: 15%;
}

.large-text {
	font-size: 2.5rem;
	margin-left: 30%;
	margin-right: 30%;
}

.icon-3 {
	font-size: 5rem;
	text-align: center;
	padding-bottom: 10%;
}

.read-more {
	font-size: 1.3rem;
	margin-top: -10%;
	color: rgb(48,117,197);
	font-family: 'sf-thin'
}

.gradient-text {
  font-family: sf-bold;
  font-size: 5rem;
  margin-top: 0;
  background-image: -webkit-linear-gradient(38deg, rgba(132,94,194,1) 0%, rgba(0,129,207,1) 50%, rgba(97,191,141,1) 100%);
  background-image: linear-gradient(38deg, rgba(132,94,194,1) 0%, rgba(0,129,207,1) 50%, rgba(97,191,141,1) 100%);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media (min-width: 1280px) {
	.gradient-text {
		font-size: 12rem;
	}
}

/* Button Plugin */

#workarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1e1a3e;
  font-family: sf;
}

#personal {
  color:white;
  text-decoration:none;
  position:absolute;
  bottom:15px;
  right:2%;
}

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}

#button-shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009FFD;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}

#button-text {
  margin-top: -35px;
  text-align: center;
}

#button-text a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}


.svg-wrapper:hover #button-shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}


/* Strikethrough Effect */

.strikethrough {
    display: inline-block;
    position: relative;
    transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

.strikethrough:after {
    content:'';
    position: absolute;
    display: block;
    width: 35%;
    height: 3px;
    /*box-shadow: 0 1px rgba(255,255,255,0.6);*/
    margin-left: -5%;
    margin-top: -0.9em;
    background: black;
    transform-origin: center left;
    animation: strikethrough 1s 0s cubic-bezier(.55, 0, .1, 1) 1;
    transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}


/* Little hover effect */

.strikethrough:hover {
    color: rgba(200,0,0,1);
    background: rgba(121, 102, 188, 0.6);
}

.strikethrough:hover:after {
    transform: scaleX(0);
    transform-origin: center right;
}



/* Keyframes for initial animation */

@keyframes strikethrough {
    from {
		transform: scaleX(0);
    }
    to {
		transform: scaleX(1);
    }
}

@font-face {
    font-family: sf-bold;
    src: url(style/SF-Pro-Display-Heavy.otf);
}

@keyframes text3D {
    from {text-shadow: 0 0;}
    to {text-shadow: 15px -15px rgb(235, 235, 235),
    			 	 14px -14px rgb(235, 235, 235),
    			 	 13px -13px rgb(235, 235, 235),
    			 	 12px -12px rgb(235, 235, 235),
    			 	 11px -11px rgb(235, 235, 235),
    			 	 10px -10px rgb(235, 235, 235),
    			 	 9px -9px rgb(235, 235, 235),
    			 	 8px -8px rgb(235, 235, 235),
    			 	 7px -7px rgb(235, 235, 235),
    			 	 6px -6px rgb(235, 235, 235),
    			 	 5px -5px rgb(235, 235, 235),
    			 	 4px -4px rgb(235, 235, 235),
    			 	 3px -3px rgb(235, 235, 235),
    			 	 2px -2px rgb(235, 235, 235),
    			 	 1px -1px rgb(235, 235, 235);}
}

@keyframes vr-animation-in {
	from {padding-right: 0;}
	to {padding-right: 5%;}
}

@keyframes vr-animation-out {
	from {padding-right: 5%;}
	to {padding-right: 0;}
}


@keyframes web-animation-in {
	from {padding-left: 0;}
	to {padding-left: 5%;}
}

@keyframes web-animation-out {
	from {padding-left: 5%;}
	to {padding-left: 0;}
}


