@font-face {
    font-family: polya;
    src: url(POLYA.otf);
}

body {
}

.title {
	background: rgb(132,94,194);
	background: linear-gradient(38deg, rgba(132,94,194,1) 0%, rgba(0,129,207,1) 50%, rgba(97,191,141,1) 100%);
	color: white;
	text-align: center;
}

.title-text {
	font-family: polya;
	font-size: 5rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.title-text {
		font-size: 8rem;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.title-text {
		font-size: 8rem;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.title-text {
		font-size: 8rem;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	.title-text {
		font-size: 8rem;
	}
}
